:root{
    --white-color:#fff;
    --black-color:#090101;
    --text-color:#333;
    --prim-color:#d0011b;
    --brand-primary-light-color:rgba(208,1,27,0.08);
    --orange-color: #ff5a00;
    --nau-color:#667580;
    --head-height:34px;
    --app-height:120px;
    --button-height: calc(var(--app-height) - var(--head-height));
    --importain--color: #667580;
    --nen--color:#e7ecf0;
    --mau-chu-dao:#1DA1F2;
}
*{
    box-sizing: inherit;
}
html,body{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif/*chủng chữ không có chÂN*/;
    box-sizing: border-box;
    margin: 0px;

}
.contanier{
    background-color: var(--nen--color);
}
.header-home{
display: flex;
justify-content: space-between;
align-items: center;
height: 57px;
box-shadow: 0px 1px 5px 2px rgb(191, 211, 222);
padding: 5px 40px 10px 15px;
background-color: #fff;


}
.header-home__image--home{
    width: 93px;
    height: 40px;
    background: center center no-repeat;
}
..header-home__image{

}
.header-home__seach{
    margin-left: 10px;
    margin-top: 5px;
    width: 280px;
    position: relative;
    
}
.seach-bar__input{
    width: 100%;
    background-color: #fff;
    height: 38px;
    color: #b2b2b2;
    font-size: 12px;
    border: 1px solid #e6ecf0;
    padding: 0 15px;
    border-radius: 20px !important;
    
}
.seach-bar__button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    width: 38px;
    height: 100%;
    border: 0;
}
.header-home-left{
    display: inline;
    display: flex;
    flex-direction: row;
}
.header-home-right{
    display: inline;
    display: flex;
    flex-direction: row;
}
.header-home__1{
    padding: 20px;
    font-size: 10px;
}
.header-home__2{
    padding: 20px;
    font-size: 10px;
}
.header-home-a{
    
    color: var(--nau-color);
    text-decoration: none;
}
.header-home__3{
    position: relative;
    padding: 10px;
    font-size: 15px;
    left: 20px;
}
.header-home__3-image{
    width: 30px;
    height: 40px;
    border-radius: 10px;
    background: center center no-repeat;
    
}
.header-home__3-div--image{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #fff;
    display: inline-block;
    overflow: hidden;
    margin-top: 5px;
  
}
.header-home__3--dropdown{
    display: flex;
    flex-direction: row;
}
/* .header-home__3--dropdown:hover{
    color: #1DA1F2;
} */
.header-home__3-div--fullname{
    color: #1DA1F2;
}
.header-home-a--fullname:hover{
    color: #1DA1F2;
}
.header-home__3--dropdown-element{
    /* display: none; */
    position: absolute;
    width: 180px;
    height: 140px;
    right: 10;
    top: 63px;
    box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.10);
    text-align: center;
    background-color: #fff;
    border-radius: 2px;
    display: none;

}
.header-home__3--dropdown-element::before{
    content: "";
    background-color: transparent;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -15px;
    right: 0;
}
.header-home__3--dropdown-element::after{
    content: "";
    /* background-color: #090101;
    width: 15px;
    height: 15px; */
    position: absolute;
    top: -7px;
    right: 20px;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
}
.header-home__3--dropdown-element--1{
    padding: 15px 10px;
    border-bottom: 1px solid #e7ecf0;
}
/* .header-home__3:hover .header-home__3--dropdown-element{
    display: block;
} */
.nav-container__title{
    font-size: 20px;
    height: 54px;
    font-family: Tahoma;
    line-height: 50px;
    color: var(--importain--color);
    font-weight: 550;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.header-home__3-div--fullname{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.nav{
    width: 100%;
    padding: 0px 15px;
    height: 300px;
   
}
.nav-container{
    border-radius: 4px;
    background-color: #fff;
    width: 100%;
    margin-top: 10px;
    box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.10);
    padding: 10px;
}
.nav-right__dangkihocphan-a{
    text-decoration: none;
}
.nav-container__contten{
    color: var(--mau-chu-dao);
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-weight: 600;
    background: #f3f7f9;
    border-bottom: 2px solid #cad6d8;
    border-top: 1px solid #cad6d8;
    color: #1da1f2;
    height: 162px;
    
}
.nav-container__contten--Stt{
    padding:70px 10px;
    text-align: center;
    width: 48px;
    border-right: 1px solid #e1e1e1;
}
.nav-container__contten--mlhp{
    text-align: center;
    padding:70px 10px;
    width: 200px;
    border-right: 1px solid #e1e1e1;
    
}
.nav-container__contten--mlhp-2{
    padding:70px 10px;
    text-align: center;

    width: 180px;
    border-right: 1px solid #e1e1e1;
    
}
.nav-container__contten--element{
    text-align: center;
    width: 132px;
    border-right: 1px solid #e1e1e1;
}
.nav-container__contten--element-bottom{
    height: 115px;
    border-bottom: 1px solid #e1e1e1;
    line-height: 115px;
    width: 132px;

}
.nav-container__contten--element-top-2-th{
    padding: 14px 5px;
}
.nav-container__contten--element-top{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.nav-container__contten--element-top-1{
    border-right: 1px solid #e1e1e1;
    padding: 14px 5px;
}
.nav-container__contten--element-top-2{
    padding: 0px 5px;
}

.nav-container__contten--element-2{
    text-align: center;
    width: 140px;
    border-right: 1px solid #e1e1e1;
}

.nav-container__contten--element-bottom-2{
    height: 55px;
    border-bottom: 1px solid #e1e1e1;
    line-height: 50px;
    width: 136px;
}
.nav-container__contten--element-top-2{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.nav-container__contten--element-top-1-2{
        padding: 44px 15px;
        border-right: 1px solid #e1e1e1;
}
.nav-container__contten--element-top-2-2{
    padding: 44px 0px;
    padding-left: 4px;

}
.nav-container__contten--element-3{
    width: 60px;
    padding: 70px 1px;
    border-right: 1px solid #e1e1e1;
}
.nav-container__contten--element-3-xeploai{
    width: 120px;
    padding: 70px 1px;
    border-right: 1px solid #e1e1e1;
}
.nav-container__contten--element-4{
    width: 130px;
    padding: 70px 15px;
    border-right: 1px solid #e1e1e1;
}
.nav-container__contten--element-5{
    padding: 70px 8px;
    
}
.nav-container__contten--element-hk{
    color: #578ebe;
    font-weight: 600;
    background: #f5f5f5;
    cursor: pointer;
    
}
.nav-container__contten-2{
    color: var(--mau-chu-dao);
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-weight: 600;
    background: #f5f5f5;
    border-bottom: 1px solid #cad6d8;
    padding: 6px 0px;
    
}
.nav-container__contten-3{
    color: var(--importain--color);
    display: flex;
    flex-direction: row;
    font-size: 15px;
    border-bottom: 1px solid #cad6d8;
    background: #ffffff;
    
}
.nav-container__contten--Stt-1{
    padding: 10px 10px;
    text-align: center;
    width: 48px;
    border-right: 1px solid #cad6d8;
}
.border_table{
    border-right: 1px solid #cad6d8;
    border-left: 1px solid #cad6d8;
    border-bottom: 1px solid #cad6d8;

}
.nav-container__contten--mlhp-2-td{
    text-align: center;
    padding: 10px 10px;
    width: 200px;
    border-right: 1px solid #cad6d8;
}
.nav-container__contten--mlhp-2-td-3{
    text-align: center;
    padding: 10px 10px;
    width: 186px;
    border-right: 1px solid #cad6d8;
}
.nav-container__contten--mlhp-2-td-4{
    text-align: center;
    padding: 10px 10px;
    width: 132px;
    border-right: 1px solid #cad6d8;
}
.nav-container__contten--mlhp-2-td-5{
    text-align: center;
    padding: 10px 10px;
    width: 142px;
    border-right: 1px solid #cad6d8;
}
.nav-container__contten--mlhp-2-td-6{
    text-align: center;
    padding: 10px 10px;
    width: 62px;
    border-right: 1px solid #cad6d8;
}
.nav-container__contten--mlhp-2-td-7{
    text-align: center;
    padding: 10px 10px;
    width: 132px;
    border-right: 1px solid #cad6d8;
}
.nav-container__contten--mlhp-2-td-8{
    text-align: center;
    padding: 10px 10px;
    width: 122px;
    border-right: 1px solid #cad6d8;
}
.nav-container__contten-4{
    color: var(--importain--color);
    display: flex;
    flex-direction: row;
    font-size: 15px;
    border-bottom: 1px solid #cad6d8;
    background: #ffffff;
}
.nav-container__contten--element-4-kq{
    /* text-align: center; */
    padding: 6px 0px;
    padding-left: 5px;
    width: 248px;
    border-right: 1px solid #cad6d8;
}
.nav-container__contten--element-4-kq-4{
    
    padding: 6px 10px;
    width: 318px;
    border-right: 1px solid #cad6d8;
}